#banner
    .banner_content
        %h1 NoteNote
        %p Your online notebook. Never forget an idea again.
        %button= link_to "Sign Up", new_user_registration_path
        
#testimonial
    .wrapper
        %p.quote "The greatest notebook application. Period."
        %p.name "Ben McMaster"
        
#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-pencil
                %h2 Notes
                %p Food truck photo booth, occupy before they sold out pug Odd Future gastropub. Salvia whatever before they sold out Austin bicycle rights. Brunch hoodie pickled, keytar kogi plaid occupy photo booth cardigan tilde meggings mixtape sriracha yr.
            .callout
                %i.fa.fa-rocket
                %h2 Rocket
                %p Food truck photo booth, occupy before they sold out pug Odd Future gastropub. Salvia whatever before they sold out Austin bicycle rights. Brunch hoodie pickled, keytar kogi plaid occupy photo booth cardigan tilde meggings mixtape sriracha yr.
            .callout
                %i.fa.fa-bolt
                %h2 Lightning
                %p Food truc photo booth, occupy before they sold out pug Odd Future gastropub. Salvia whatever before they sold out Austin bicycle rights. Brunch hoodie pickled, keytar kogi plaid occupy photo booth cardigan tilde meggings mixtape sriracha yr.
                
#bottom_cta
    .wrapper
        %h2 For Realz!
        %p I want you to sign up... If you don't, I will find you!
        %buttom= link_to "Click Me!", new_user_registration_path
        
%footer
    %p &copy; Ben McMaster